body{
    background-color: rgb(245, 209, 195);
    font-family: Arial,Raleway;
    font-size: 16px;
 }
 img{width: 500px}
 header{ 
background-color: black;
/*cor de fundo*/
color: #fdf3f3;
/* cor de texto*/
text-align: center;
padding: 5px;
}
footer{
        background-color: black;
        /*cor de fundo*/
        color: #fdf3f3;
        /* cor de texto*/
        text-align: center;
        padding: 5px;
}
.container{
    display: flex;
    border-style:solid;
    border-style:black;
}
.texto{
    flex: 1;
    padding: 5%;
}
.imagem{
    flex: 2;
    text-aling:left;
    max-width: 100%;
    margin:0 auto;
    display: block;
}
a:hover{
    color: crimson;
}
a{
    transition: color 0.3s ease;
}
nav{
    background-color: rgb(233, 181, 165);
    text-align: center;

}
nav ul{
    list-style: none;
    padding: 0;
}
nav li{
    display: inline;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover{
    color: crimson;
}