body{
    background-color: rgb(245, 209, 195);
 }
 img{width: 500px}
 header{ 
background-color: black;
/*cor de fundo*/
color: #fdf3f3;
/* cor de texto*/
text-align: center;
padding: 5px;
}
footer{
        background-color: black;
        /*cor de fundo*/
        color: #fdf3f3;
        /* cor de texto*/
        text-align: center;
        padding: 5px;
}
.container{
    display: flex;
    border-style:solid;
    border-style:black;
}
.texto{
    flex: 1;
    padding: 5%;
}
.imagem{
    flex: 2;
    text-aling: left;
}